<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Kurs Thymeleaf</h1>
<h3>Lista:</h3>

<p th:each="guiList: ${guiList}">
    <td th:text="${guiList.getCityName}"></td> <br>
    <p>====================================</p>
</tr>


<form th:action="@{/add-item}" th:object="${newItems}" method="post">
    <p>City: <input type="text" th:field="*{cityName}"></p>
    <p><input type="submit" value="add new city"></p>
</form>


</body>
</html>